<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.com.cinepointer" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.READ_CALENDAR"/>
	<uses-permission android:name="android.permission.WRITE_CALENDAR"/>

	<application android:label="@string/app_name" android:icon="@drawable/cinepointerlogo">
		<uses-library android:name="com.google.android.maps" />
		<activity android:label="@string/app_name" android:name=".ui.CinePointerActivity">
			<!-- <activity android:label="@string/app_name" android:name=".database.Main"> -->
			<!-- <activity android:label="@string/app_name" android:name=".location.MapVisualizador"> -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!-- <activity android:name=".CinePointerActivity" /> -->
		<activity android:name=".ui.ListFilmView">
		</activity>
		<activity android:name=".ui.DetalhesActivity">
		</activity>
		<activity android:name=".ui.MapVisualizador">
		</activity>
		<activity android:name=".database.Main">
		</activity>
		<activity android:name=".database.ManageData">
		</activity>
		<activity android:name=".ui.PesquisaLocalizacaoActivity">
		</activity>
		<activity android:name=".ui.PesquisaNomeActivity">
		</activity>				
	</application>
</manifest>